// Example SCSS file in public folder
// Note: Files in public/ are served as static files
// For stylesheets that need to be processed, use the styles/ folder instead

// This file is here for reference, but typically SCSS files should be in styles/

.example-class {
  color: #16a34a;
  padding: 1rem;
}
